.select-block label,
.input-block label,
.textarea-block label{
    font-size: 1.4rem;
    color: var(--color-text-complement); 
}

.select-block select,
.input-block input,
.textarea-block textarea{
    width: 100%;
    height: 5.6rem;
    margin-top: 0.8rem;
    border-radius: 0.8rem;
    background: var(--color-input-background);
    border: 1px solid var(--color-line-in-white);
    outline: 0; /*Quando o campo ta selecionado ele marca, nesse caso ele n está marcando.*/
    padding: 0 1.6rem;
    font: 1.6rem Archivo;
}

.textarea-block textarea{
    padding: 1.2rem 1.6rem;
    height: 16rem;
    resize: vertical;
}

.input-block,
.textarea-block{
    position: relative; /*Necessário para a criação da barrinha no input*/
}

.input-block:focus-within::after,
.textarea-block:focus-within::after{/*Cria um elemento quando o input está focado(barrinha roxa)*/
    content: "";
    width: calc(100% - 3.2rem);/*calcula a largura*/
    height: 2px;
    background: var(--color-primary-light);
    
    position: absolute; /*Ele vai criar esse novo elemento em cima da página*/
    left: 1.6rem;
    right: 1.6rem;
    bottom: 0;
}