<!DOCTYPE html>
<html lang="pt_br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/partials/header.css">
    <link rel="stylesheet" href="/styles/partials/forms.css">
    <link rel="stylesheet" href="/styles/partials/page-study.css">

    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap">

    <title>Proffy</title>
    <link rel="shortcut icon" href="/images/favicon.png">
    <!-- <style></style> -->
</head>

<body id="page-study">
    <div id="container">
        <header class="page-header">
            <div class="top-bar-container">
                <a href="/">
                    <img src="/images/icons/back.svg" alt="Voltar">
                </a>
                <img src="/images/logo.svg" alt="Proffy">

            </div>
            <div class="header-content">
                <strong>Esses são os proffys disponíveis.</strong>
                <form action="" id="search-teachers">
                    <div class="select-block">
                        <label for="subject">Matéria</label>
                        <select name="subject" id="subject">
                            {%for subject in subjects%}
                            <option value="{{loop.index}}" {{ 'selected' if filters.subject == loop.index}}>
                                {{ subject }}</option>
                            {%endfor%}
                        </select>
                    </div>
                    <div class="select-block">
                        <label for="weekday">Dia da semana</label>
                        <select name="weekday">
                            {%for weekday in weekdays%}
                            <option value="{{loop.index}}" {{ 'selected' if filters.weekday == loop.index}}>
                                {{ weekday }}</option>
                            {%endfor%}
                        </select>
                    </div>
                    <div class="input-block">
                        <label for="time">Hora</label>
                        <input name="time" id="time" type="time" value="{{filters.time}}">
                    </div>
                    <button type="submit">Filtrar</button>
                </form>
            </div>
        </header>

        <main>
            {%for proffy in proffys%}
            <article class="teacher-item">
                <header>
                    <img src="{{ proffy.avatar }}" alt="{{ proffy.name }}">
                    <div>
                        <strong>{{ proffy.name }}</strong>
                        <span>{{ proffy.subject }}</span>
                    </div>
                </header>

                <p>{{ proffy.bio }}</p>

                <footer>
                    <p>Preço/hora<strong>R$ {{ proffy.cost }}</strong>
                    </p>
                    <a href="https://api.whatsapp.com/send?lpt_BR&phone=55{{proffy.whatsapp}}&text=Olá {{proffy.name}}, tenho interesse na sua aula de {{ proffy.subject}}."
                        class="button" target="_blank">
                        <img src="/images/icons/whatsapp.svg" alt="Whatsapp">Entrar em contato
                    </a>
                </footer>
            </article>
            {%endfor%}

        </main>
    </div>
</body>

</html>














<!-- 
    DICAS:
    - HTML (HyperText Market language) é uma linguagem de marcação. 
    - É necessário adicionar as tags html, head e body. 
    - Onde na HEAD (inicialmente com meta, meta, title e link p/ o css) são as configurações do documento. 
    - BODY é tudo q possa ser visível. 
    - Os dados dentro das tags html são chamados de atributos.
    - Caso vc seja louco e queria colocar o css aqui vc usa a tag <style></style> no head.
    - Box model: Imagine que as tags no html são caixas(width, height e alguma coisa dentro), ou seja, uma div. 
    - Os elementos são lidos e colocados um a baixo do outro até q se encontre um elemento inline('irmão"), como o span. Isso por causa do display(css) padrão dos elementos.
    - O article é um conteúdo q vai se repetir várias vezes na página.
-->